body{
    margin: 0;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
header{
    justify-content: center;
    display: flex;
}
.container1{
    width: 1280px;
    height: 80px;
    justify-content: center;
    display: flex;
}
.ulrow{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.row{
    width: 100%;
}
.logo{
    margin-top: 12.25px;
    margin-bottom: 12.25px;
}
.logo2{
    margin-top: 17.25px;
    margin-bottom: 14.6px;
}
.nav-links1{
    font-weight: bolder;
    margin-top: 9.5px;
    margin-bottom: 19.5px;

}

.nav-links{
    margin-top: 9.5px;
    margin-bottom: 19.5px;
}
.firstbtn{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 10px;
    
    width: 102px;
    height: 51px;
    
    /* Primary[400] */
    
    border: 1px solid #6C63FF;
    border-radius: 2px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}
.firstbtntext{
    margin-top: 10px;
    width: 42px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-align: center;

/* Primary[400] */

color: #6C63FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.secondbtn{
    margin-left: 16px;
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 10px;
    
    width: 140px;
    height: 51px;
    
    /* Primary[400] */
    
    background: #6C63FF;
    /* Primary[400] */
    
    border: 1px solid #6C63FF;
    border-radius: 2px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.secondbtntext{
    margin-top: 10px;
       width: 80px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-align: center;

/* Neutral[100] */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.container{
    width: 1180px;
}
.h1{
    width: 489px;
    height: 264px;
    
    /* H1 --desktop */
    
    font-family: 'playfair display';
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 88px;
    /* or 102% */
    
    letter-spacing: -1px;
    
    /* Neutral[500] */
    
    color: #2F2E41;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.paragraph{
    width: 489px;
    height: 102px;
    
    /* Body large */
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    /* or 170% */
    
    
    /* Neutral[300] */
    
    color: #9893A3;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
}
.btn3{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 10px;
    
    width: 140px;
    height: 51px;
    
    /* Primary[400] */
    
    background: #6C63FF;
    /* Primary[400] */
    
    border: 1px solid #6C63FF;
    border-radius: 2px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}
.partners{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 97px;
    
    width: 900px;
    height: 35.42px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    

}
.lg1{
    width: 106.01px;
    height: 27.12px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.lg2{
    width: 91.74px;
    height: 35.42px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;

}
.lg3{
    width: 84.11px;
    height: 32.11px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}
.lg4{
    width: 99.27px;
    height: 23.61px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}
.lg5{
    width: 108.05px;
    height: 26.95px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 4;
    flex-grow: 0;
}
.h2{
    width: 400px;
    height: 128px;
    
    /* H2 --desktop */
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    /* or 107% */
    
    letter-spacing: -1px;
    
    /* Neutral[500] */
    
    color: #2F2E41;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
       
}
.paragraph2{
    width: 400px;
    height: 102px;
    
    /* Body large */
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    /* or 170% */
    
    
    /* Neutral[300] */
    
    color: #9893A3;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.paragraph3{
    width: 92px;
    height: 20px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    
    letter-spacing: -1px;
    
    /* Neutral[500] */
    
    color: #2F2E41;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.mrgin{
    margin-left: 10%;
}
h3{
    width: 478.47px;
    height: 64px;
    
    /* H2 --desktop */
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    /* identical to box height, or 107% */
    
    letter-spacing: -1px;
    
    /* Neutral[500] */
    
    color: #2F2E41;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0;
    
}

.startercard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 46px 88px;
    gap: 30px;
    
    width: 363px;
    height: 421px;
    
    background: rgba(236, 235, 255, 0.3);
    border-radius: 2px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.bolderp{
    font-weight: bolder;
}
.firstcardul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.firstcrdbtn{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 10px;
    
    width: 140px;
    height: 51px;
    
    /* Primary[400] */
    
    border: 1px solid #6C63FF;
    border-radius: 2px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}
.btntext{
    margin: 10px 5px 10px;
    width: 80px;
    height: 19px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    
    /* Primary[400] */
    
    color: #6C63FF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.midcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 88px;
    gap: 40px;
    
    width: 363px;
    height: 502px;
    
    /* Primary[400] */
    
    background: #6C63FF;
    border-radius: 2px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.cards{
    width: 1180px;
}